@dell:registry=https://ap-sc.drm.ops.lab.dell.com/artifactory/api/npm/npm-public/
@def:registry=https://dps.artifactory.cec.lab.emc.com/artifactory/api/npm/dps-npm-public/
@edf:registry=https://dps.artifactory.cec.lab.emc.com/artifactory/api/npm/dps-npm-public/
strict-ssl=false
registry=https://registry.npmjs.org/
@uds-common-utils:registry=https://uds.artifactory.cec.lab.emc.com/artifactory/api/npm/uds-common-utils/
email = <Your Email_ID>
always-auth = true
